<%- include('components/header.ejs') %>
<body>
    <%- include('components/nav.ejs') %>
    <main>
        <% if (isAuthenticated) { %>
        <div class="action-buttons-container">
            <a href="/registerRein" class="add-btn">Legg til reinsdyr</a>
            <a href="/registerFlokk" class="add-btn">Legg til flokk</a>
        </div>
        <% } %>
        
        <search>
            <input type="text" name="search" id="searchBar" class="searchBar" placeholder="Søk..." list="searchOptions">
            
            <datalist id="searchOptions">
                <% searchOptions.forEach(function(option) { %>
                    <option value="<%= option %>"></option>
                <% }); %>
            </datalist>
        </search>
        <div class="results" id="resultDiv">
                <h2>Søk etter:</h2>
                <ul>
                    <li>Navn</li>
                    <li>Tlf</li>
                    <li>Serienummer</li>
                    <li>Språk</li>
                    <li><i>Og mye annet!</i></li>
                </ul>
                <h3><u><a href="/profile">Sjekk profilen din for å se dine registrerte flokker og reinsdyr</a></u></h3>
        </div>
    </main>
</body>
<%- include('components/footer.ejs') %>
