<%- include('components/header.ejs') %>
<body>
    <%- include('components/nav.ejs') %>
    <main>
        <search>
            <input type="text" name="search" id="searchBar" class="searchBar" placeholder="Søk..." list="searchOptions">
            
            <datalist id="searchOptions">
                <% searchOptions.forEach(function(option) { %>
                    <option value="<%= option %>"></option>
                <% }); %>
            </datalist>
        </search>
        <div class="results" id="resultDiv">
            <h2>Søk etter:</h2>
            <ul>
                <li>Navn</li>
                <li>Tlf</li>
                <li>Serienummer</li>
                <li>Språk</li>
                <li><i>Og mye annet!</i></li>
            </ul>
        </div>
    </main>
    
    <%- include('components/footer.ejs') %>
</body>