<%- include('components/header.ejs') %>
<body>
    <nav>
        <h1>Kukkik Ano</h1>
    </nav>
    <main>
        <div class="logout-container">
            <h2>Logger ut...</h2>
            <div class="loader"></div>
            <div class="form-message" id="logoutMessage">Vennligst vent mens du blir logget ut</div>
        </div>
    </main>
</body>
<%- include('components/footer.ejs') %>
