<%- include('components/header.ejs') %>
<body>
    <%- include('components/nav.ejs') %>
    <main>
        <img src="/assets/images/sampiland.png" alt="Kart over Samespråk">
    </main>
</body>
<%- include('components/footer.ejs') %>